@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.classrooms {
  padding-bottom: 20px;
}

.classroomsContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
}

.subHeading {
  font-family: "Roboto";
  font-weight: lighter;
}

.subHeadingPadding {
  padding: 20px 20px 0 20px;
}

.cardSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (max-width: 1023px) {
  .cardSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  .cardSection {
    display: flex;
    flex-direction: column;
  }
}

.subTabMenu {
  height: 8vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #e0e0e0;
}
