@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  padding-top: 15px;
  border-bottom: 1px solid #e0e0e0;

  & h1 {
    font-family: "Roboto";
  }

  & .icon {
    margin-left: 10px;
  }
}

.avatarMenu {
  margin-top: 5px;
}

.classrooms {
  padding-bottom: 20px;
}

.subHeading {
  padding: 20px 20px 0 20px;
  font-family: "Roboto";
  font-weight: lighter;
}

.cardSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (max-width: 1023px) {
  .cardSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  .cardSection {
    display: flex;
    flex-direction: column;
  }
}


.subTabMenu {
  height: 8vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #e0e0e0;
}