.iconStyling {
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.itemStyling {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.invitationText {
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
}

.typographyTextBox {
    padding: 20px;
}

.invitationSection {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
}

.addIconButtonStyling {
    cursor: pointer;
}