.navbarPaper {
    background-color: white;
    border-bottom: 0.75px solid #b1b1b1;
    box-shadow: 0px 0px 0px 0px;
}

.toolbarStyling {
    min-height: 100px;
}

.buttonStyles {
    height: 100%;
}

.ulStyling {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.liStyling {
    display: inline-block;
    width: 200px;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.linkStyling {
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.65rem;
    line-height: 24px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.1px;
    color: #1967d2;
}

.itemStyling {
    color: #5f6368;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.iconStyling {
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profileTextStyling {
    /* M3/title/medium */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.1px;
    /* M3/sys/light/surface */
    color: #000000;
}

.profileLogoStyling {
    width: 48px;
    height: 48px;
    background-color: #e0e0e0;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.selectedItemStyling {
    border-bottom: 2.5px solid #1967d2;
    border-radius: 30px 30px 0px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.tabTextStyling {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
}