.announcementContainerStyling {
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    margin: 0;
    margin-top: 5vh;
}

.cardStyling {
    border: none;
    border-bottom: 1px solid #dadbe0;
    margin: 5px;
}