.titleStyling {
    /* M3/body/large */
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.5px;
    /* M3/sys/light/on-surface */
    color: #1C1B1F;
}

.gridContentAlignStyling {
    padding: 0px 32px;
}