.announcementContainerStyling {
    background: #FFFFFF;
    width: 100%;
    margin-top: 5vh;
}

.cardStyling {
    width: 100%;
    border: none;
    border-bottom: 1px solid #dadbe0;
    margin: 5px;
}

.avatarStyling {
    background-color: #f44336;
    font-size: 1rem;
}

.cardContentStyling {
    text-align: justify;
    color: #3c4043;
    text-align: "justify";
    color: #3c4043;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.commentCountStyling {
    width: 100%;
}