.announcerModuleStyling {
    display: flex;
}

.textContainerStyling {
    padding: 0px 10px;
}

.textStyling {
    margin: 0;
}

.nameStyling {
    /* M3/title/medium */
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.1px;
    /* M3/sys/light/on-surface */
    color: #1C1B1F;
}

.dateStyling {
    /* M3/body/medium */
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    letter-spacing: 0.25px;
    /* M3/sys/light/on-surface */
    color: #1C1B1F;
}

.gridContentAlignStyling {
    padding: 32px;
}