.announcementContainerStyling {
    width: 1500px;
    background: #FFFFFF;
    border: 1px solid rgba(121, 116, 126, 0.45);
    box-sizing: border-box;
    border-radius: 12px;
    margin: 30px auto;
    padding: 0;
}