.commentBoxStyling {
    margin: 0;
    border-bottom: 1px solid #dadbe0;
    padding: 5px;
}

.avatarCenterStyling {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.textContentStyling {
    letter-spacing: .01428571em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #3c4043;
}

@media screen and (max-width: 940px) {
    .multiGridAdjust {
        display: inline-block;
    }
    .avatarCenterStyling {
        max-width: 100%;
    }
}