.commentBoxStyling {
    margin-top: 3vh;
}

.avatarCenterStyling {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 940px) {
    .multiGridAdjust {
        display: inline-block;
    }
    .avatarCenterStyling {
        max-width: 100%;
    }
}