@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&family=Inter:wght@100&display=swap');

.sectionContentContainerStyling {
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: -moz-calc(100% - 2*1.5rem);
    width: calc(100% - 5*2.5rem);
    max-width: 85rem;
}

.imageContainer {
    border-radius: 0.5rem;
    margin-top: 2.5rem;
    overflow: hidden;
    width: 100%;
}

.backgroundStyling {
    background-image: url('../../public/assets/wallpaper/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
    position: relative;
    width: 100%;
}

.sectionNameStyling {
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 89px;
    display: flex;
    letter-spacing: 0.1px;
    color: #FFFFFF;

    /* Alignment */
    height: 100%;
    align-items: flex-end;
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 1rem 1.5rem;
    position: absolute;
    right: 2rem;
}