@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&family=Inter:wght@100&display=swap');

.sectionContentContainerStyling {
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 65vw;
}

.imageContainer {
    border-radius: 0.5rem;
    margin-top: 5vh;
    margin-bottom: 5vh;
    overflow: hidden;
    width: 100%;
}

.backgroundStyling {
    background-image: url('../../public/assets/images/classroom.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    position: relative;
    width: 100%;
}

.sectionNameStyling {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    display: flex;
    color: #FFFFFF;
    height: 100%;
    align-items: flex-end;
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 1rem 1.5rem;
    position: absolute;
}