.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vh 0px;
    /* background-color: black; */
}

.AssignmentDetailsContainer{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* background-color: coral; */
}

.AssignmentDetails{
    display: flex;
    margin: 5vh 0px;
    flex-direction: column;
    width: 95%;
}

.AssignmentDetailsItems{
    margin: 2vh 0px;
}


.AssignmentProblems{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    /* background-color: yellow; */
}

.AssignmentDateTimePicker {
    margin-top: 30px;
}