@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

.container {
  display: "flex";
  flex-direction: "column";
}

.tabStyling {
  height: "100%";
  display: "flex";
  align-items: "center";
}

.tabButtonStyling {
  display: "flex";
  flex-direction: "column";
  padding: "10px";
  margin: "15px";
  text-align: "center";
  justify-content: "center";
}

.subTabMenu {
  height: 8vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #e0e0e0;
}
