<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link
      rel="stylesheet"
      data-name="vs/editor/editor.main"
      href="/node_modules/monaco-editor/min/vs/editor/editor.main.css"
    />
    <link rel="stylesheet" href="/src/css/main.css" />
    <link rel="stylesheet" href="/dist/css/monaco-collab-ext.css" />
    <link rel="stylesheet" href="/src/css/editor.css" />
  </head>
  <body>
    <div>
      <div class="main__container">
        <div class="main__header">
          <h1 style="border: none; background-color: transparent; margin: 0px; padding: 0px;">Binary Search Tree</h1>
          <h5 style="display: flex; margin-top: 8px; color: grey">
            <span style="color: #000000">Duration: </span> &nbsp;5 minutes
          </h5>
        </div>

        <div class="main__question">
          <h4>
            Problem:
            <span style="color: grey">
              Construct Full Binary Tree using its Preorder traversal and
              Preorder traversal of its mirror tree
            </span>
          </h4>
          <p style="margin: 10px 0px">
            Given two arrays that represent Preorder traversals of a full binary
            tree and its mirror tree, we need to write a program to construct
            the binary tree using these two Preorder traversals. A Full Binary
            Tree is a binary tree where every node has either 0 or 2 children.
            Note: It is not possible to construct a general binary tree using
            these two traversal. But we can create a full binary tree using the
            above traversals without any ambiguity. For more details refer to
            this article.
          </p>
          <h4 style="margin-top: 20px">Test Cases:</h4>
          <div id="test-cases"></div>
        </div>

        <div class="main__editorContainer">
          <div class="main__editorControls">
            <div style="margin-left: 100px">
              <img
                height="70"
                width="70"
                src="/src/img/code.png"
                alt="Code-image"
              />
            </div>

            <button
              style="
                width: 120px;
                margin: 10px;
                margin-left: 30px;
                background-color: green;
                color: #000000;
                height: 50px;
              "
            >
              Run
            </button>

            <button
              onclick="save()"
              style="
                width: 120px;
                margin: 10px;
                background-color: red;
                color: #000000;
                height: 50px;
              "
            >
              Submit
            </button>
          </div>

          <div class="main__editor">
            <div class="editors">
              <div class="editor-column">
                <div class="editor" id="source-editor"></div>
              </div>
            </div>
          </div>
          <div class="main__console-output">
            <div id="output-window"></div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const cases = [
        {
          inputs: ["Apple", "Banana", 4],
          outputs: ["Fruits"],
        },
        {
          inputs: [1, 2, 3],
          outputs: [4, 5, 6],
        },
        {
          inputs: ["Onion", "Tomatoes", 8, "Garlic"],
          outputs: ["Vegetables"],
        },
      ];

      for (var index = 0; index < cases.length; index++) {
        const __node = document.createElement("div");
        __node.id = index;

        const __h4Node = document.createElement("h4");
        __h4Node.style.margin = "10px";
        __h4Node.textContent = `Case: ${index + 1}`;
        __node.appendChild(__h4Node);

        const __h5Node_A = document.createElement("h5");
        __h5Node_A.style.color = "grey";
        __h5Node_A.style.margin = "15px";
        for (var j = 0; j < cases[index].inputs.length; j++) {
          const __h5Node_A_node = document.createElement("h5");
          __h5Node_A_node.style.color = "green";
          __h5Node_A_node.style.margin = "10px";
          __h5Node_A_node.textContent = cases[index].inputs[j];
          __h5Node_A.appendChild(__h5Node_A_node);
        }
        __node.appendChild(__h5Node_A);

        const __h5Node_B = document.createElement("h5");
        __h5Node_B.style.color = "grey";
        __h5Node_B.style.margin = "15px";
        __h5Node_B.textContent = `Output: `;
        for (var j = 0; j < cases[index].outputs.length; j++) {
          const __h5Node_B_node = document.createElement("h5");
          __h5Node_B_node.style.color = "red";
          __h5Node_B_node.style.margin = "10px";
          __h5Node_B_node.textContent = cases[index].outputs[j];
          __h5Node_B.appendChild(__h5Node_B_node);
        }
        __node.appendChild(__h5Node_B);
        document.getElementById("test-cases").appendChild(__node);
      }
    </script>
    <script src="/node_modules/monaco-editor/min/vs/loader.js"></script>
    <script src="/src/js/stdin.js"></script>
    <script src="/src/js/contents.js"></script>
    <script src="/src/js/CLangContents.js"></script>
    <script src="/src/js/PythonContents.js"></script>
    <script>
      require.config({
        paths: {
          vs: "/node_modules/monaco-editor/min/vs",
          Convergence:
            "/node_modules/@convergence/convergence/convergence.amd.js",
          ConvergenceColorAssigner:
            "/node_modules/@convergence/color-assigner/umd/color-assigner.min.js",
          MonacoConvergenceAdapter: "/src/js/monaco-adapter.js",
          rxjs: "/node_modules/rxjs/dist/bundles/rxjs.umd.js",
          MonacoCollabExt: "/dist/umd/monaco-collab-ext.min.js",
        },
      });
    </script>
    <script src="/node_modules/@convergence/convergence/convergence.amd.min.js"></script>
    <script src="/node_modules/@convergence/color-assigner/umd/color-assigner.min.js"></script>
    <script src="/node_modules/monaco-editor/min/vs/loader.js"></script>
    <script src="/node_modules/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
    <script src="/node_modules/monaco-editor/min/vs/editor/editor.main.js"></script>
    <script src="/node_modules/axios/dist/axios.min.js"></script>
    <script src="/dist/umd/monaco-collab-ext.min.js"></script>
    <script type="module">
      import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";
      io();
    </script>
    <script src="/src/js/id.js"></script>
    <script src="/src/js/config.js"></script>
    <script src="/src/js/monaco-adapter.js"></script>
    <script src="/src/js/monaco.js"></script>
    <script>
      async function save() {
        const JSONContent = {
          src: monaco.editor.getModels()[0].getValue(),
          stdin: STDIN,
          lang: "c",
          timeout: 60,
        };

        const res = await fetch("http://localhost:7000/submit", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(JSONContent),
        }).then((response) => response.json());

        setTimeout(async () => {
          await fetch(res.data, {
            method: "GET",
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((response) => response.json())
            .then((data) => {
              console.log(data.data);
              if (data.data.output === "") {
                document.getElementById("output-window").innerText =
                  data.data.stderr;
              } else {
                document.getElementById("output-window").innerText =
                  JSON.stringify(data.data.output, null, 2);
              }
            });
        }, 2000);
      }
    </script>
  </body>
</html>
