.container {
  margin: 0;
  padding: 0;
  height: 92vh;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 52%;
}

.header {
  display: flex;
  align-items: center;
  margin: 5% 0%;
  margin-bottom: 2%;
  padding: 0 2%;
  height: 10vh;
  border-bottom: 1px solid #5f6368;
}

.header h1 {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 2 rem;
  font-weight: 400;
}

.member {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  margin-top: 1%;
}

.member h4 {
  letter-spacing: 0.01785714em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #3c4043;
  text-indent: initial;
}
.profileimage {
  margin: 0% 2%;
  border-radius: 50%;
}

.teacher,
.collaborators,
.students {
  width: 100%;
}
