<div class="main__header">
  <h1
    style="
      border: none;
      background-color: transparent;
      margin: 0px;
      padding: 0px;
    "
  >
    <%= data.assignmentName %>
  </h1>
  <h5 style="display: flex; margin-top: 8px; color: grey">
    <span style="color: #000000">Created On: </span> &nbsp;<%=
    data.assignmentCreatedOn %>
  </h5>
  <h5 style="display: flex; margin-top: 8px; color: grey">
    <span style="color: #000000">Due Date: </span> &nbsp;<%=
    data.assignmentDueDate %>
  </h5>
</div>
