<div class="main__question">
  <h4>
    Problem:
    <span style="color: grey"> <%= data.codingQuestionTitle %> </span>
  </h4>
  <p style="margin: 10px 0px"><%= data.codingQuestionBody %></p>
  <div id="test-cases"></div>
</div>
