<div class="main__editorContainer">
    <div class="main__editorControls">
      <div style="margin-left: 100px">
        <img
          height="70"
          width="70"
          src="/src/img/code.png"
          alt="Code-image"
        />
      </div>

      <button
        style="
          width: 120px;
          margin: 10px;
          margin-left: 30px;
          background-color: green;
          color: #000000;
          height: 50px;
        "
      >
        Run
      </button>

      <button
        onclick="save()"
        style="
          width: 120px;
          margin: 10px;
          background-color: red;
          color: #000000;
          height: 50px;
        "
      >
        Submit
      </button>
    </div>

    <div class="main__editor">
      <div class="editors">
        <div class="editor-column">
          <div class="editor" id="source-editor"></div>
        </div>
      </div>
    </div>
    <div class="main__console-output">
      <div id="output-window"></div>
    </div>
  </div>