.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh 5vw;
    /* background-color: black; */
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    /* background-color:brown; */
    width: 85%;
    height: 80px;
    padding: 15px;
}

.assignments {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 85%;
    padding: 15px;
    padding-bottom: 50px;
}

.assignmentItem {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 10px 5px;
    border: 1px solid #e0e0e0;
    border-radius: 7px;
    width: 100%;
}

.assignmentName {
    color: grey;
    width: 50%;
}

.assignmentView {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.accordionStyling {
    border: 2px #e2e2e2 solid;
    margin: 20px;
}

.accordionDetailsStyling {
    padding: 16px;
}