@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&family=Inter:wght@100&display=swap');

.tabPanelStyling {
    padding: 0px;
}

.profileTextStyling {
    /* M3/title/medium */
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.1px;
    /* M3/sys/light/surface */
    color: #000000;
}

.profileLogoStyling {
    width: 36px;
    height: 36px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 28px
}

.itemStyling {
    color: #5f6368;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.iconStyling {
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ulStyling {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.appBarStyling {
    /* padding-top: 30px; */
    margin: 0;
    min-height: 0;
    background-color: white;
}

.addIconStyling {
    color: black;
}

.tabStyling {
    height: 60px;
    font-size: 1.25rem;
    text-transform: capitalize;
}