@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&family=Inter:wght@100&display=swap');

.tabPanelStyling {
    padding: 0px;
}

.profileTextStyling {
    /* M3/title/medium */
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.1px;
    /* M3/sys/light/surface */
    color: #000000;
}

.profileLogoStyling {
    width: 48px;
    height: 48px;
    background-color: #e0e0e0;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.itemStyling {
    color: #5f6368;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.iconStyling {
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ulStyling {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}