@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&family=Inter:wght@100&display=swap');

.addSectionButtonStyling {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.addSectionButtonStyling:hover {
    cursor: pointer;
}

.addSectionStyling {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 45px;
    font-size: 20px;
    color: #ffffff;
    border-radius: 8px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
}

.invitationText {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    color: #000000;
    margin-left: 8px;
}

.typographyTextBox {
    padding: 30px 30px 0px 30px;
}

.createButtonStyling {
    /* 1 dp */
    text-transform: capitalize;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 2px 1px rgba(0, 0, 0, 0.03), 0px 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    height: 40px;
    width: 100px;
}

.cancelButtonStyling {
    text-transform: capitalize;
    background: #858585;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 2px 1px rgba(0, 0, 0, 0.03), 0px 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    height: 40px;    
    width: 100px;
}

.cancelButtonStyling:hover {
    background: #3D3D3D;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 2px 1px rgba(0, 0, 0, 0.03), 0px 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
}


.formControlContainerStyling {
    padding: 40px;
    padding-top: 0px;
}

.formControlStyling {
    width: 100%;
}

.textFieldStyling {
    width: 100%
}