.container {
    width: 86%;
    margin: 5% 1%;
}

.settingsHeading {
    margin-bottom: 10px;
}

.subContainer{
    display: flex;
    flex-direction: column;
    margin: 2%;
    width: 95%;
    padding-bottom: 30px;
}


